.user-tag {
    background-color: rgb(228, 228, 228);
    display: flex;
    margin-left: 4%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 3rem;
}

.user-tag img {
    background-color: violet;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.username {
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.username h3 {
    margin: 0;
    margin: 5%;
}

.username p {
    margin: 0;
}

.user-options {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-options i {
    font-size: 120%;
}

.user-option {
    width: 30%;
    margin: 1%;
    text-align: center;
}

.user-option p {
    margin: 0;
}